Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

Data Preprocessing

In [26]:
df = pd.read_csv("../data/heart_disease_dataset.csv")
df.sample(10)

# 1. Label encoding -> converting categories to integers

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num(target),target_binary
107,108,57,1,3,128.0,229.0,0.0,2.0,150.0,0.0,0.4,2.0,1.0,7.0,1,1
635,636,52,1,4,165.0,0.0,NaN,0.0,122.0,1.0,1.0,1.0,NaN,7.0,2,1
746,747,51,1,4,NaN,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2,1
170,171,70,1,3,160.0,269.0,0.0,0.0,112.0,1.0,2.9,2.0,1.0,7.0,3,1
646,647,54,1,4,130.0,0.0,NaN,0.0,110.0,1.0,3.0,2.0,NaN,7.0,3,1
535,536,46,1,4,130.0,222.0,0.0,0.0,112.0,0.0,0.0,NaN,NaN,NaN,1,1
563,564,51,1,3,135.0,160.0,0.0,0.0,150.0,0.0,2.0,2.0,NaN,NaN,1,1
518,519,52,1,4,130.0,225.0,0.0,0.0,120.0,1.0,2.0,2.0,NaN,NaN,1,1
451,452,54,1,2,110.0,208.0,0.0,0.0,142.0,0.0,0.0,NaN,NaN,NaN,0,0
425,426,51,1,4,130.0,179.0,0.0,0.0,100.0,0.0,0.0,NaN,NaN,7.0,0,0